/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
    font-family: 'Muli', sans-serif;
    background: url(../images/2.jpg)no-repeat centerpx;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
    background-attachment: fixed;
}
/*-- main --*/
.agileinfo-row {
    width: 65%;
    margin:0 auto;
	text-align:center;
}
/*-- top-nav --*/
.agileits-main {
}
.w3top-nav {
    padding: 2em 8em;
}
.w3top-nav-left {
    float: left;
}
.w3top-nav-right {
    float: right;
    margin-top: 0.7em;
}
.w3top-nav-left h1 {
    font-size: 3em;
    font-weight: 100;
	line-height: .9em;
}
.w3top-nav-left h1 a {
    color: #fff;
}
.w3top-nav-right ul li {
    display: inline-block;
    margin:0 1.2em;
}
.w3top-nav-right ul li a{
	color:#fff;
	font-size: 1em;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.w3top-nav-right ul li a:hover{
	color:#04c9f9;
}
/*-- //top-nav --*/
/*--header start here--*/
.w3ls-header {
    padding: 0em 0 0;
}
.icon1 {
    margin: 0 0 2em;
    border: 1px solid #525252;
    padding: .7em 0em;
    background:rgba(255, 255, 255, 0.22);
    border-radius: 26px;
}
.wthree li {
    display: inline-block;
}
a {
    color: #585858;
    margin: 0em;
}
a:hover {
    color: #ff4f81;
}
.bottom {
    margin: 3em 0 0;
}
.header-main {
    /*--padding: 4em 4em 2.5em;--*/
    width: 25%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 999;
	margin:9em auto 0;
}
.header-main h2 {
    font-size: 1.6em;
    line-height: 1.6em;
    color: #ffffff;
    text-align: center;
    padding-bottom: 60px;
    text-transform: capitalize;
}
.sign-up {
    margin: 2em 0;
}
.header-left {
  background: #fff;
  padding: 0px;
}
.sign-up h2 {
    font-size: 22px;
    color: #fff;
    text-align: center;
    background: #fbbc05;
    width: 40px;
    height: 40px;
    line-height: 1.9em;
    border-radius: 50%;
    margin: 0 auto;
}
::-webkit-input-placeholder{
    color: #fff!important;
}
.header-left-bottom input[type="text"] {
    outline: none;
    font-size: 15px;
    color: #fff;
	border:none;
    width: 90%;
    display: inline-block;
    background: transparent;
	font-family: 'Muli', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
.header-left-bottom input[type="password"]{
  outline: none;
  font-size: 15px;
    color: #fff;
  border:none;
    width: 90%;
  display: inline-block;
  background: transparent;
	font-family: 'Muli', sans-serif;
    text-align: center;
    letter-spacing: 2px;
}
.header-left-bottom input[type="submit"] {
    background: #3be8b0;
    color: #FFF;
    font-size: 17px;
    text-transform: capitalize;
    padding: .5em 2em;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
	font-family: 'Muli', sans-serif;
	width: 100%;
    border-radius: 25px;
}
.header-left-bottom input[type="submit"]:hover {
    background: #ff4f81;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
/*-- agileits --*/
.header-left-bottom p {
    font-size: 17px;
    color: #000;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 20px 0 0;
    letter-spacing: 1px;
}
.header-left-bottom p a {
    font-size: 15px;
    color: #dd4b39;
}
.header-left-bottom p a:hover {
    color: #3be8b0;
    text-decoration: underline;
}

.social {
    margin: 1em 0 0;
}
.heading h5 {
    color: #c5c5c5;
    color: #000000;
    margin-top: 8px;
    font-size: 20px;
}
.social i.fa {
    font-size: 37px;
    margin: 0 5px;
	transition:0.5s all;
}

.social i.fa.fa-facebook-square:hover{
    color: #3b5998;
}
.social i.fa.fa-twitter-square:hover{
    color: #1da1f2;
}
.social i.fa.fa-linkedin-square:hover {
    color: #00a0dc;
}
.social i.fa.fa-google-plus-square:hover {
    color: #dd4b39;
}
.social i.fa {
    color: #fff;
    color: #505050;
}
.heading,.icons {
    width: 50%;
    float: left;
}
.login-check {
    position: relative;
}
.checkbox i {
    position: absolute;
    top: 0px;
    left: 29%;
    display: block;
    width: 20px;
    height: 18px;
    outline: none;
    border: 1px solid #9c9c9c;
    background: #fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    cursor: pointer;
}
.checkbox input:checked + i:after {
    opacity: 1;
}
.checkbox input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
    content: url(../images/tick.png);
    top: -1px;
    left: 2px;
    width: 15px;
    height: 15px;
}
.checkbox {
    position: relative;
    display: block;
    padding-left: 30px;
    letter-spacing: 0px;
    font-size: 15px;
    color: #fff;
}
input[type="checkbox" i] {
    display: none;
}
/*-- w3layouts --*/
/*-- header end here --*/
h2 {
    font-size: 26em;
    color: #fff;
    line-height: 1.3em;
    letter-spacing: 10px;
}
h3 {
    font-size: 2em;
    color: #fff;
}
h3 a {
    font-size: 17px;
    padding-left: 12px;
    color: #04c9f9;
    text-decoration: underline;
}
/*-- copyright --*/
.copyright {
    margin: 4em 0 2em;
    text-align: center;
}
.copyright p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    line-height: 1.8em;
}
.copyright p a{
    color: #fff;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.copyright p a:hover{
    color: #04c9f9;
}
/*-- //copyright --*/
/*-- //main --*/
/*-- responsive-design --*/
@media(max-width:1440px){
.w3top-nav {
    padding: 1em 12em;
}
.header-main {
    width: 29%;
}
}
@media(max-width:1280px){
.w3top-nav {
    padding: 1em 8em;
}
}
@media(max-width:1080px){
.w3top-nav {
    padding: 1em 1em;
}
h2 {
    font-size: 21em;
}
.header-main {
    width: 40%;
    margin: 5em auto 0;
}
}
@media(max-width:991px){

}
@media(max-width:800px){
.w3top-nav-right ul li {
    margin: 0 0.5em;
}
.w3top-nav-left h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 17em;
}
h3 {
    font-size: 1.5em;
}
.agileinfo-row {
    width: 90%;
}
.w3top-nav-right ul li a {
    font-size: 0.9em;
}
.header-main {
    width: 49%;
}
}
@media(max-width:667px){
.w3top-nav-left {
    float: none;
    text-align: center;
}
.w3top-nav-right {
    float: none;
    margin-top: 1.5em;
    text-align: center;
}
h2 {
    font-size: 14em;
}
.header-main {
    width: 60%;
	    margin: 3em auto 0;
}
.header-main h2 {
    padding-bottom: 40px;
}
}
@media(max-width:568px){
.header-main {
    width: 67%;
}
.copyright {
    margin: 3em 0 2em;
}
}
@media(max-width:480px){
.copyright p {
    font-size: 0.9em;
    padding: 0 1em;
}
h2 {
    font-size: 11em;
    margin-top: 30px;
}
.header-main {
    width: 80%;
}
}
@media(max-width:414px){
h3 {
    font-size: 1.3em;
}
.checkbox i {
    left: 25%;
}
}
@media(max-width:384px){
	h2 {
    font-size: 9em;
    margin-top: 30px;
}
.w3top-nav-right ul li {
    margin: 0 0.3em;
}
h3 {
    font-size: 1.2em;
}
.w3top-nav-right ul li {
    margin: 0 0.2em;
}
}
@media(max-width:375px){
h3 {
    font-size: 1.1em;
}
}
@media(max-width:320px){
.copyright p {
    font-size: 0.8em;
}
.w3top-nav-left h1 {
    font-size: 2em;
}
.w3top-nav {
    padding: 1em 0em;
}
.w3top-nav-right ul li a {
    font-size: 0.8em;
}
.w3top-nav-right ul li {
    margin: 0 0.2em;
}
h2 {
    font-size: 7em;
    margin-top: 20px;
}
.agileinfo-row {
    width: 100%;
}
h3 {
    font-size: 1em;
}
.copyright p {
    padding: 0 0.8em;
	    letter-spacing: 1px;
}
h3 a {
    font-size: 15px;
}
.header-main h2 {
    padding-bottom: 30px;
	letter-spacing:5px;
}
.icon1 {
    margin: 0 0 1.5em;
}
.header-main {
    width: 90%;
	margin: 2em auto 0;
}
.checkbox i {
    left: 21%;
}
.bottom {
    margin: 2em 0 0;
}
.copyright {
    margin: 2em 0 1em;
}
}
/*-- //responsive-design --*/
